{% extends "core/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block tile_block %}CONTACT{% endblock %}

{% block body_block %}

<div class="theme-page padding-bottom-66">
    <h2 class="box-header" style="margin-top:35px;">CONTACT</h2>
    <div class="clearfix">
        
        <div class="row page-margin-top">

            <input type="button" value="Thank you {{name}} for contacting me. I will get back to you as soon as possible." class="text-input"
                style="background-color:#ecffdd;color:#8c9681;width:100%;margin-bottom:30px;">
                
            <form class="contact-form" id="contact-form" method="POST" action="{% url 'enquiries:email' %}">

                {% csrf_token %}
                {% if errors %}
                <div class = "text-input">
                    {% for error in errors %}
                    <p style="color:red;">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="row">
                    <fieldset class="column column-1-2">
                        <input class="text-input" name="name" type="text" placeholder="Name *" required>
                        <input class="text-input" name="email" type="text" placeholder="Email *" required>
                        <input class="text-input" name="phone" type="number" placeholder="Phone">
                    </fieldset>
                    <fieldset class="column column-1-2">
                        <input class="text-input" name="subject" type="text" placeholder="Subject*" required>
                        <textarea style="margin-top:20px;" name="message" placeholder="Message *" required></textarea>

                    </fieldset>
                </div>
                <div class="row margin-top-30">
                    <div class="column column-1-2">
                        <p class="description t1">We will contact you within 48 hours.</p>
                    </div>
                    <div class="column column-1-2 align-right">
                        <button type="submit" name="submit" class="more active">SEND MESSAGE</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}